body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.main{
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
}

img{
    width: 250px;
    border-radius: 12px;
}

h3{
    font-weight: 900;
    font-size: 1.3em;
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(220, 15%, 55%);
}